<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description"
        content="Instantly craft unique online avatars for free, no account needed. Our tools allow you to create stunnning avatars in seconds using OpenAI Image generation technology.">
    <meta property="og:title" content="Generate an AI avatar in seconds">
    <meta property="og:site_name" content="OnlineAvatarGenerator">
    <meta property="og:url" content="https://onlineavatargenerator.com" />
    <meta property="og:description"
        content="Easily generate an avatar for your online persona in seconds using AI. No account needed, create as many images as you want for free.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://onlineavatargenerator.com/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/avatar2.styles.css" asp-append-version="true" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/imgs/brand-img.svg" alt="brand image" />
                    <span style="font-family: Kanit;">OnlineAvatarGenerator</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Privacy" title="View Our Privacy Policy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <a href="https://awoldt.com" style="text-decoration: none; color: rgb(108, 117, 125)" target="_blank"><img
                    src="~/imgs/brush.svg" alt="paint brush icon" /> <b>Made by Awoldt</b></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>