<div>
    <div style="margin-top: 25px;">
        <p>1. Select the base avatar you want to use</p>
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="base_avatar" id="human_radio_select" autocomplete="off" required>
            <label class="btn btn-outline-primary" for="human_radio_select"><img src="/icons/human.svg"/> Human</label>
            <input type="radio" class="btn-check" name="base_avatar" id="animal_radio_select" autocomplete="off" value="animal" required>
            <label class="btn btn-outline-primary" for="animal_radio_select"><img src="/icons/animal.svg"/> Animal</label>
        </div>
    </div>
     
        <div style="margin-top: 25px">
            <p>2. Pick an adjective that describes this avatar</p>
                <div class="form-group">
                    <select class="form-select" id="avatar_adj_select" disabled name="adjective" required>
                        <option value="creepy">Creepy</option>
                        <option value="classy">Classy</option>
                        <option value="fat">Fat</option>
                        <option value="grumpy">Grumpy</option>
                        <option value="muscular">Muscular</option>
                        <option value="old">Old</option>
                        <option value="short">Short</option>
                        <option value="skinny">Skinny</option>
                        <option value="tall">Tall</option>
                        <option value="ugly">Ugly</option>
                        <option value="wise">Wise</option>
                        <option value="young">Young</option>
                    </select>
                </div>
        </div>
        <div style="margin-top: 25px">
            <p>3. What type of finish would you like to have this image to have</p>
                <div class="form-group">
                    <select class="form-select" id="avatar_finish_select" disabled name="finish" required>
                        <option value="abstract">Abstract</option>
                        <option value="anime">Anime</option>
                        <option value="cartoon">Cartoon</option>
                        <option value="claymation">Claymation</option>
                        <option value="trippy">Trippy</option>
                        <option value="painted">Painting</option>
                        <option value="pixelated">Pixelated</option>
                    </select>
                </div>
        </div>
</div>