<div style="max-width: 850px;">
<h2>About</h2>
<p>Welcome to OnlineAvatarGenerator.com! We are a website that provides users with randomly generated images based on prompts given. These images are always unique and there are never two of the same generated.</p>
<p>We understand how important it is for people to have a unique avatar that represents them online, and we strive to provide our users with the best possible experience when creating their avatar. With our easy-to-use interface, you can quickly generate an avatar that fits your needs. Once you have generated your avatar, you can easily download it to your computer and use it wherever you like.</p>
<p>We hope you enjoy using Avatar Generator and creating your own unique avatars. Feel free to share with friends and family!</p>
<h2>How to Use</h2>
<p>Generating an image is easy and quick. There are three main prompts that you must customize in order to get an avatar back:</p>
<ol>
    <li>Base image which will serve as the template for your new avatar</li>
    <li>Adjective describing this avatar</li>
    <li>The type of finish you want to have for the image</li>
</ol>
<p>The base will be used as a starting point for what the avatar will look like. You can choose from either a human or an animal. From there you can pick one of the many adjectives describing this avatar. You could have a fat and short or a tall and skinny avatar, it's up to you. Finally, select a finish you want for the image that is generated. This refers to the art style, such as a painting or a claymation.</p>
<h2 class="mb-3">FAQs</h2>
<h3>Is it free?</h3>
<p>Yes, this service is free and always will be.</p>
<h3>What resolution are the images?</h3>
<p>All images generated will be returned as a 256x256 resolution image. This is to save load times and costs.</p>
<h3>How many images can I generate?</h3>
<p>You are allowed to generate as many images as you want. Bots spamming the site will be blocked from accessing.</p>
<h3>How are the images generated?</h3>
<p>All images generated use OpenAI's DALL&middotE API. This technology uses basic prompts to generate images on the fly with accuracy and speed. You can read more about DALL&middotE <a href="https://openai.com/blog/dall-e-api-now-available-in-public-beta/" target="_blank">here</a>.</p>
</div>
