@{
    ViewData["Title"] = "Privacy Policy";
    ViewBag.canonicallink = "https://onlineavatargenerator.com/privacy";
}
<h1>Privacy Policy</h1>

<p>By using this website you agree to the terms below</p>
<p>OnlineAvatarGenerator.com uses Google Analytics to track user engagement on site during use. None of this information is personally identifiable. This website also uses standard logging for incoming traffic, with details such as ip address and user agents being recorded.</p>