@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p><i>Last updated on 9/30/2023</i></p>

<p>OnlineAvatarGenerator.com uses Google Analytics to track user engagement on site during use. None of this information is personally identifiable. This website also uses standard logging for incoming traffic, with details such as ip address and user agents being recorded.</p>
<p><strong>We do not sell or store your personal information.</strong></p>