@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1>Privacy Policy</h1>
    <p>Last updated on March 15th, 2025</p>
    <p>Thank you for visiting. We respect your privacy and are committed to protecting your personal information. This
        Privacy Policy outlines the types of information we collect when you use the site and how we use and safeguard
        that information.</p>
    <p><strong>We do not collect any personally identifiable information.</strong></p>
    <p>We use Google AdSense on our site to serve advertisements. Google may use cookies to personalize ads based on
        your interests and other information collected through the site and other websites. You can learn more about how
        Google uses your data by visiting the <a href="https://policies.google.com/privacy?hl=en-US"
            title="View Google's privacy policy">Google Privacy &amp; Terms page.</a></p>
    <p>We reserve the right to update or modify this Privacy Policy anytime. Any changes will be effective immediately
        upon posting the revised Privacy Policy on the site. We encourage you to review this Privacy Policy periodically
        for any changes.</p>
    <p>You consent to the information outlined in this Privacy Policy by using the site.
    </p>
    <div class="mt-5 mb-5">
        <a href="/" class="btn btn-primary">Return Home</a>
    </div>
</div>