@page
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1>Privacy Policy</h1>
    <p>Last updated on May 13th, 2025</p>
    <p>Thank you for visiting. We are committed to respecting your privacy and protecting your personal information. This Privacy Policy explains how we analyze site usage while prioritizing your privacy.</p>
    <p><strong>We do not collect any personally identifiable information.</strong></p>
    <p>To understand and improve our website, we use Umami, a privacy-focused analytics platform. Umami helps us analyze website traffic and user behavior, providing insights into visitor analysis, custom events, and real-time data, all without collecting any personal data. We also utilize Google AdSense to display advertisements. Google may use cookies to personalize ads based on your interests and other information collected across various websites. For detailed information on how Google uses data, please refer to their <a href="https://policies.google.com/privacy?hl=en-US" title="View Google's privacy policy">Google Privacy &amp; Terms page.</a></p>
    <p>We reserve the right to modify this Privacy Policy at any time. Any updates will be effective immediately upon posting the revised policy on our site. We encourage you to review this Privacy Policy periodically for any changes.</p>
    <p>By using this site, you consent to the practices described in this Privacy Policy.</p>
    <div class="mt-5 mb-5">
        <a href="/" class="btn btn-primary">Return Home</a>
    </div>
</div>